<div class="side-content">
    <div class="header row nav-bar-side">
        <span class="title" style="color:#999">Menu</span>
        <a href="" ng-click="broadcast('move')" class="nav-icon-right">
            <i class="fa fa-bars fa-2x fa-fw icon-darker"></i>
        </a>
    </div>

    <nav class="side-menu row scroll-y">
        <ul>
            <li>
                <a href="" ng-click="go_to('Home')"><i class="fa fa-home fa-lg fa-fw icon-darker"></i>Home</a>
            </li>
            <li>
                <a href="" ng-click="go_to('EditProfile')"><i class="fa fa-user fa-lg fa-fw icon-darker"></i>Edit profile</a>
            </li>
            <li>
                <a href="" ng-click="go_to('NewTeam')"><i class="fa fa-group fa-lg fa-fw icon-darker"></i>Create Team</a>
            </li>
            <li>
                <a href="" ng-click="go_to('TeamSelect')"><i class="fa fa-edit fa-lg fa-fw icon-darker"></i>Manage Teams</a>
            </li>
            <li>
                <a href="" ng-click="go_to('JoinTeam')"><i class="fa fa-link fa-lg fa-fw icon-darker"></i>Join Team</a>
            </li>
            <li>
                <a href="" ng-click="logout()"><i class="fa fa-sign-out fa-lg fa-fw icon-darker"></i>Log out</a>
            </li>
        </ul>
    </nav>
</div>
