<div class="tab row">
    <ul class="nav">
        <li ng-repeat="view in views" ng-class="{active : isSelected(view.view)}" ng-click="setView(view.view)">
            <span><i class="fa fa-{{view.icon}}"></i>{{view.view}}</span>
        </li>
    </ul>
</div>
<div id="view" class="content row scroll-y" ng-switch on="view">

    <!-- News View -->
    <div ng-switch-when="News">
        <div class="nodata" ng-if="messages.length == 0">
            No news
        </div>
        <div bindonce="msg" ng-repeat="msg in messages" class="message" ng-click="openMessage(messages[$index])">
            <div class="head">
                <img bo-src="url + '/user/' + msg.user._id + '/img'" alt="" border="0">
                <div class="info">
                    <span class="name" bo-text="msg.user.firstName + ' ' + msg.user.lastName"></span>
                    <span class="teamago" bo-text="msg.team.name + ' - ' + (msg.date | fromNow)"></span>

                </div>
            </div>
            <div id="text" bo-text="msg.text"></div>
            <div class="footer">
                <span><i class="fa fa-comments-o"></i> Comments {{msg.commentcount}}</span>
            </div>
        </div>
        <div ng-switch on="loading" ng-click="loadMore()" ng-if="messages.length >= 5 && allMessages != true">
            <div ng-switch-when="false" class="pageloader">
                Load more...
            </div>
            <div ng-switch-when="true" class="pageloader">
                <i class="fa fa-spinner fa-title fa-spin icon-white"></i>
            </div>
        </div>
    </div>

    <!-- Teams View -->
    <div ng-switch-when="Teams">
        <div class="nodata" ng-if="teams.length == 0">
            No teams
        </div>
        <a bindonce ng-repeat="team in teams" href="" class="list" ng-click="go_to('/TeamDetail/' + team._id)">

            <div class="logo">
                <img bo-src="url + '/team/' + team._id + '/img'" alt="">
            </div>

            <div class="info">
                <span id="title" bo-text="team.name"></span>
                <span id="subtitle" bo-text="team.code"></span>
            </div>
        </a>

    </div>

    <!-- Tasks View -->
    <div ng-switch-when="Tasks">
        <div class="nodata" ng-if="tasks.length == 0">
            No tasks
        </div>
        <div class="label">
            Next 30 days
        </div>
        <a href="" bindonce ng-repeat="task in tasks | filter:thisMonth" class="list" ng-click="go_to('/TaskDetail/' + task._id)">
            <div class="logo">
                <img bo-src="url + '/team/' + task.team._id + '/img'" alt="">
                <div class="overlay">
                    <span class="day" bo-text="task.endDate | format:'DD'"></span>
                    <span class="year" bo-text="task.endDate | format:'MMMM'"></span>
                </div>
            </div>
            <div class="info">
                <span id="title" bo-text="task.title"></span>
                <span id="subtitle" bo-text="task.team.name"></span>
            </div>
        </a>
        <div class="label-space">
            Later this year
        </div>
        <a href="" bindonce ng-repeat="task in tasks | filter:laterThisYear" class="list" ng-click="go_to('/TaskDetail/' + task._id)">
            <div class="logo">
                <img bo-src="url + '/team/' + task.team._id + '/img'" alt="">
                <div class="overlay">
                    <span class="day" bo-text="task.endDate | format:'DD'"></span>
                    <span class="year" bo-text="task.endDate | format:'MMMM'"></span>
                </div>
            </div>
            <div class="info">
                <span id="title" bo-text="task.title"></span>
                <span id="subtitle" bo-text="task.team.name"></span>
            </div>
        </a>
    </div>
</div>
