<div class="content-no-tab row scroll-y">
    <div class="editor">
        <!-- <a href="" class="container_12 line">
            <div class="grid_2">
                <i class="fa fa-archive fa-2x fa-fw icon-darker"></i>
            </div>
            <div class="grid_10">
                <span>History</span>
            </div>
        </a> -->
        <div class="container_12 invisible" style="height: 35px;">
            <span class="label">Current tasks:</span>
        </div>
        <div class="nodata" style="padding-top:5px;" ng-if="tasks.length == 0">
            No tasks
        </div>
        <a href="" bindonce ng-repeat="task in tasks" class="list" ng-click="edit($index)">
            <div class="info">
                <div id="title" bo-text="task.title">{{task.title}}</div>
                <div id="subtitle" bo-text="'Deadline: ' + (task.endDate | format:'DD.MM.YYYY HH:mm')"></div>
            </div>
        </a>

        <div class="container_12 invisible" style="height: 35px;">
            <span class="label">Old tasks:</span>
        </div>
        <div class="nodata" style="padding-top:5px;" ng-if="oldtasks.length == 0">
            No tasks
        </div>
        <a href="" bindonce ng-repeat="task in oldtasks" class="list" ng-click="edit($index)">
            <div class="info">
                <div id="title" bo-text="task.title">{{task.title}}</div>
                <div id="subtitle" bo-text="'Deadline: ' + (task.endDate | format:'DD.MM.YYYY HH:mm')"></div>
            </div>
        </a>

    </div>

</div>
