<div id="scroller" bindonce="task" class="content-no-tab row scroll-y">
    <div class="task-wrapper">

        <div id="taskDetail" background="{{url}}/team/{{teamID}}/img" ng-if="task">
            <div class="info">
                <span bo-text="task.title" id="title"></span>
                <span bo-text="task.team.name" id="team"></span>
            </div>
        </div>
        <div id="task-detail">
            <div class="info-tab">
                <div class="item" ng-click="go_to('/Tasks/' + team._id + '/current')">
                    <span bo-text="task.created | format:'DD.MM.YYYY HH:mm'" class="value"></span>
                    <span class="text">Created</span>
                </div>
                <div class="item" ng-click="go_to('/TeamUsers/' + team._id)">
                    <span bo-text="task.endDate | format:'DD.MM.YYYY HH:mm'" class="value"></span>
                    <span class="text">Deadline</span>
                </div>
            </div>
        </div>

        <div class="task_text notepad">
            <p bo-text="task.text"></p>
        </div>
    </div>
</div>
