<div id="scroller" bindonce="task" class="content-no-tab row scroll-y">
    <div class="task-wrapper">

        <div id="taskDetail" background="{{url}}/team/{{teamID}}/img" ng-if="task">
            <div class="info">
                <span bo-text="task.title" id="title"></span>
                <span bo-text="task.team.name" id="team"></span>
            </div>
        </div>
        <div id="task-detail">
            <div class="dates" id="dates">
                <span bo-text="task.created | format:'DD.MM.YYYY HH:mm'" id="created"></span>
                <span bo-text="task.endDate | format:'DD.MM.YYYY HH:mm'" id="deadline"></span>
                <span id="created_desc">created</span>
                <span id="deadline_desc">deadline</span>
            </div>

        </div>

        <div class="task_text notepad">
            <p bo-text="task.text"></p>
        </div>
    </div>
</div>
